n8n/workflow-status.json
{
  "name": "BP Cuisine — Check Status (fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "bpcuisines-render/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "bpcuisines-render-status-v1"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $json.query.id }}&select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "bb000002-0000-0000-0000-000000000002",
      "name": "Get Job from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "jsCode": "const rows  = $input.all().map(i => i.json);\nconst jobId = $('Webhook').first().json.query?.id;\n\nif (!jobId) {\n  return [{ json: {\n    __route:   'not_found',\n    jobId:     null,\n    status:    'not_found',\n    outputUrl: null,\n    error:     'Missing id query parameter',\n  }}];\n}\n\n// Supabase REST returns an array\nconst arr = Array.isArray(rows[0]) ? rows[0] : rows;\nconst job = arr.find(r => r && r.id) || null;\n\nif (!job) {\n  return [{ json: {\n    __route:   'not_found',\n    jobId,\n    status:    'not_found',\n    outputUrl: null,\n    error:     'Unknown job id',\n  }}];\n}\n\nconst isTerminal = ['succeeded', 'failed', 'canceled'].includes(job.status);\n\n// Timeout check: if still processing after 10 minutes, mark as timed out\nconst createdAt = job.created_at ? new Date(job.created_at) : null;\nconst ageMs = createdAt ? (Date.now() - createdAt.getTime()) : 0;\nconst isTimedOut = !isTerminal && ageMs > 10 * 60 * 1000;\n\nif (isTimedOut) {\n  return [{ json: {\n    __route:   'timed_out',\n    jobId:     job.id,\n    status:    'failed',\n    outputUrl: null,\n    error:     'Render timed out after 10 minutes',\n    replicateId: job.replicate_id || null,\n  }}];\n}\n\nif (isTerminal) {\n  return [{ json: {\n    __route:      'terminal',\n    jobId:        job.id,\n    status:       job.status,\n    outputUrl:    job.output_url || null,\n    error:        job.error_message || job.error || null,\n    replicateId:  job.replicate_id || null,\n  }}];\n}\n\n// Throttle: if last_checked_at < 3 seconds ago, skip Replicate call\nconst lastChecked = job.last_checked_at ? new Date(job.last_checked_at) : null;\nconst msSinceCheck = lastChecked ? (Date.now() - lastChecked.getTime()) : Infinity;\nconst useCache = msSinceCheck < 3000;\n\nreturn [{ json: {\n  __route:      useCache ? 'cached' : 'check_replicate',\n  jobId:        job.id,\n  status:       job.status,\n  outputUrl:    job.output_url || null,\n  error:        job.error_message || job.error || null,\n  replicateId:  job.replicate_id || null,\n}}];"
      },
      "id": "bb000003-0000-0000-0000-000000000003",
      "name": "Parse Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "mode": "rules",
        "output": "input",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{ "id": "r1", "leftValue": "={{ $json.__route }}", "rightValue": "not_found",      "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [{ "id": "r2", "leftValue": "={{ $json.__route }}", "rightValue": "timed_out",      "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [{ "id": "r3", "leftValue": "={{ $json.__route }}", "rightValue": "terminal",       "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [{ "id": "r4", "leftValue": "={{ $json.__route }}", "rightValue": "cached",         "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "bb000004-0000-0000-0000-000000000004",
      "name": "Switch: Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [860, 400]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $json.jobId, status: 'not_found', outputUrl: null, error: $json.error }) }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000005-0000-0000-0000-000000000005",
      "name": "Respond — 404 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 200]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ status: 'failed', error_message: 'Render timed out after 10 minutes', updated_at: new Date().toISOString() }) }}"
      },
      "id": "bb000006-0000-0000-0000-000000000006",
      "name": "PATCH Job — Timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $('Parse Job').first().json.jobId, status: 'failed', outputUrl: null, error: 'Render timed out after 10 minutes' }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000007-0000-0000-0000-000000000007",
      "name": "Respond — 500 Timeout",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 340]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-terminal-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bb000008-0000-0000-0000-000000000008",
      "name": "IF: Terminal Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $json.jobId, status: $json.status, outputUrl: $json.outputUrl, error: $json.error }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000009-0000-0000-0000-000000000009",
      "name": "Respond — 200 Terminal OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $json.jobId, status: $json.status, outputUrl: null, error: $json.error }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000010-0000-0000-0000-000000000010",
      "name": "Respond — 500 Terminal Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 540]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $json.jobId, status: 'processing', outputUrl: null, error: null }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000011-0000-0000-0000-000000000011",
      "name": "Respond — 200 Cached Processing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 620]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.replicate.com/v1/predictions/{{ $json.replicateId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "bb000012-0000-0000-0000-000000000012",
      "name": "Check Replicate Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 760]
    },
    {
      "parameters": {
        "jsCode": "const item       = $input.first();\nconst prediction = item.json;\nconst parsed     = $('Parse Job').first().json;\n\nconst replicateStatus = prediction.status;\nconst outputUrl = Array.isArray(prediction.output) ? prediction.output[0] : (prediction.output ?? null);\nconst error     = prediction.error ?? null;\n\nreturn [{ json: {\n  jobId:          parsed.jobId,\n  replicateStatus,\n  outputUrl,\n  error,\n} }];"
      },
      "id": "bb000013-0000-0000-0000-000000000013",
      "name": "Parse Replicate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 760]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ last_checked_at: new Date().toISOString() }) }}"
      },
      "id": "bb000014-0000-0000-0000-000000000014",
      "name": "Update last_checked_at",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 760]
    },
    {
      "parameters": {
        "mode": "rules",
        "output": "input",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{ "id": "rs1", "leftValue": "={{ $('Parse Replicate Status').first().json.replicateStatus }}", "rightValue": "succeeded", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [{ "id": "rs2", "leftValue": "={{ $('Parse Replicate Status').first().json.replicateStatus }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "bb000015-0000-0000-0000-000000000015",
      "name": "Switch: Replicate Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1740, 760]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Parse Replicate Status').first().json.outputUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imageData"
            }
          }
        }
      },
      "id": "bb000016-0000-0000-0000-000000000016",
      "name": "Download Render Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/renders/{{ $('Parse Replicate Status').first().json.jobId }}/output.jpg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "x-upsert",      "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "imageData"
      },
      "id": "bb000017-0000-0000-0000-000000000017",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 640]
    },
    {
      "parameters": {
        "jsCode": "const jobId   = $('Parse Replicate Status').first().json.jobId;\nconst supaUrl = ($env.SUPABASE_URL || '').replace(/\\/$/, '');\nconst publicUrl = `${supaUrl}/storage/v1/object/public/renders/${jobId}/output.jpg`;\nreturn [{ json: { jobId, outputUrl: publicUrl } }];"
      },
      "id": "bb000018-0000-0000-0000-000000000018",
      "name": "Build Public URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 640]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ status: 'succeeded', output_url: $json.outputUrl, updated_at: new Date().toISOString() }) }}"
      },
      "id": "bb000019-0000-0000-0000-000000000019",
      "name": "Update Job — Succeeded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $('Build Public URL').first().json.jobId, status: 'succeeded', outputUrl: $('Build Public URL').first().json.outputUrl, error: null }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000020-0000-0000-0000-000000000020",
      "name": "Respond — 200 Succeeded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2840, 640]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $('Parse Replicate Status').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ status: 'failed', error_message: $('Parse Replicate Status').first().json.error || 'Replicate returned an unknown error', updated_at: new Date().toISOString() }) }}"
      },
      "id": "bb000021-0000-0000-0000-000000000021",
      "name": "Update Job — Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 880]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $('Parse Replicate Status').first().json.jobId, status: 'failed', outputUrl: null, error: $('Parse Replicate Status').first().json.error || 'Replicate returned an error' }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000022-0000-0000-0000-000000000022",
      "name": "Respond — 500 Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2180, 880]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $('Parse Replicate Status').first().json.jobId, status: 'processing', outputUrl: null, error: null }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bb000023-0000-0000-0000-000000000023",
      "name": "Respond — 200 Still Processing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 1000]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Get Job from Supabase", "type": "main", "index": 0 } ]]
    },
    "Get Job from Supabase": {
      "main": [[ { "node": "Parse Job", "type": "main", "index": 0 } ]]
    },
    "Parse Job": {
      "main": [[ { "node": "Switch: Route", "type": "main", "index": 0 } ]]
    },
    "Switch: Route": {
      "main": [
        [ { "node": "Respond — 404 Not Found",       "type": "main", "index": 0 } ],
        [ { "node": "PATCH Job — Timeout",            "type": "main", "index": 0 } ],
        [ { "node": "IF: Terminal Succeeded?",        "type": "main", "index": 0 } ],
        [ { "node": "Respond — 200 Cached Processing","type": "main", "index": 0 } ],
        [ { "node": "Check Replicate Prediction",     "type": "main", "index": 0 } ]
      ]
    },
    "PATCH Job — Timeout": {
      "main": [[ { "node": "Respond — 500 Timeout", "type": "main", "index": 0 } ]]
    },
    "IF: Terminal Succeeded?": {
      "main": [
        [ { "node": "Respond — 200 Terminal OK",     "type": "main", "index": 0 } ],
        [ { "node": "Respond — 500 Terminal Failed", "type": "main", "index": 0 } ]
      ]
    },
    "Check Replicate Prediction": {
      "main": [[ { "node": "Parse Replicate Status", "type": "main", "index": 0 } ]]
    },
    "Parse Replicate Status": {
      "main": [[ { "node": "Update last_checked_at", "type": "main", "index": 0 } ]]
    },
    "Update last_checked_at": {
      "main": [[ { "node": "Switch: Replicate Status", "type": "main", "index": 0 } ]]
    },
    "Switch: Replicate Status": {
      "main": [
        [ { "node": "Download Render Image",          "type": "main", "index": 0 } ],
        [ { "node": "Update Job — Failed",            "type": "main", "index": 0 } ],
        [ { "node": "Respond — 200 Still Processing", "type": "main", "index": 0 } ]
      ]
    },
    "Download Render Image": {
      "main": [[ { "node": "Upload to Supabase Storage", "type": "main", "index": 0 } ]]
    },
    "Upload to Supabase Storage": {
      "main": [[ { "node": "Build Public URL", "type": "main", "index": 0 } ]]
    },
    "Build Public URL": {
      "main": [[ { "node": "Update Job — Succeeded", "type": "main", "index": 0 } ]]
    },
    "Update Job — Succeeded": {
      "main": [[ { "node": "Respond — 200 Succeeded", "type": "main", "index": 0 } ]]
    },
    "Update Job — Failed": {
      "main": [[ { "node": "Respond — 500 Failed", "type": "main", "index": 0 } ]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "instanceId": "bp-cuisine"
  },
  "tags": []
}
