n8n/workflow-start.json
{
  "name": "BP Cuisine — Start Render (fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bpcuisines-render/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bc9fa2e7-dafc-4f28-9143-ce3471473a84",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "bpcuisines-render-start-v1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst binary = item.binary || {};\n\nconst binaryKeys = Object.keys(binary);\n\n// ── Detect room binary (prefer key 'room', fallback first key) ──\nlet roomFieldName = null;\nif (binary.room) roomFieldName = 'room';\nelse if (binaryKeys[0]) roomFieldName = binaryKeys[0];\n\n// ── Detect sketch binary (prefer key 'sketch', fallback second key) ──\nlet sketchFieldName = null;\nif (binary.sketch) sketchFieldName = 'sketch';\nelse if (binaryKeys.length > 1) sketchFieldName = binaryKeys.find(k => k !== roomFieldName) || null;\nelse if (binaryKeys[0] && binaryKeys[0] !== roomFieldName) sketchFieldName = binaryKeys[0];\n\nif (!roomFieldName || !binary[roomFieldName]) {\n  return [{ json: { valid: false, error: \"Missing room image (binary field 'room')\" } }];\n}\nif (!sketchFieldName || !binary[sketchFieldName]) {\n  return [{ json: { valid: false, error: \"Missing sketch image (binary field 'sketch')\" } }];\n}\n\n// ── File size validation (20 MB max) ──\nconst MAX_BYTES = 20 * 1024 * 1024;\nconst roomBin   = binary[roomFieldName];\nconst sketchBin = binary[sketchFieldName];\n\nconst roomBytes   = roomBin.fileSize   ?? Math.ceil((roomBin.data.length   * 3) / 4);\nconst sketchBytes = sketchBin.fileSize ?? Math.ceil((sketchBin.data.length * 3) / 4);\n\nif (roomBytes > MAX_BYTES) {\n  return [{ json: { valid: false, error: `Room image too large (${(roomBytes/1024/1024).toFixed(1)} MB). Max 20 MB.` } }];\n}\nif (sketchBytes > MAX_BYTES) {\n  return [{ json: { valid: false, error: `Sketch image too large (${(sketchBytes/1024/1024).toFixed(1)} MB). Max 20 MB.` } }];\n}\n\n// ── Parse text fields ──\nconst prompt = (body.prompt || '').trim();\nconst style  = (body.style  || 'moderne').trim();\n\nlet dimensions = {};\nlet materials  = {};\ntry { dimensions = JSON.parse(body.dimensions || '{}'); } catch(e) { dimensions = {}; }\ntry { materials  = JSON.parse(body.materials  || '{}'); } catch(e) { materials  = {}; }\n\nif (!dimensions.width || !dimensions.depth || !dimensions.height) {\n  return [{ json: { valid: false, error: 'Invalid or missing dimensions. Expected JSON: {\"width\":\"3\",\"depth\":\"4\",\"height\":\"2.6\"}' } }];\n}\n\n// ── Build prompt ──\nconst parts = [\n  `Rendu photoréaliste cuisine ${style}, qualité 4K ultra, visualisation architecturale professionnelle`,\n  prompt,\n  materials.description ? `Matériaux et finitions: ${materials.description}` : '',\n  `Pièce: ${dimensions.width}m largeur × ${dimensions.depth}m profondeur × ${dimensions.height}m hauteur`,\n  \"éclairage naturel, hyperréaliste, photographie d'intérieur de luxe, détail précis\"\n].filter(s => s && s.trim());\n\nconst negativePrompt = \"flou, basse qualité, distordu, déformé, laid, sombre, amateur, surexposé, dessin, cartoon, 3D low-poly\";\n\n// ── Generate job ID ──\nconst jobId = Date.now().toString(36) + Math.random().toString(36).slice(2, 9);\n\n// ── Build data URIs ──\nconst roomUri   = `data:${roomBin.mimeType   || 'image/jpeg'};base64,${roomBin.data}`;\nconst sketchUri = `data:${sketchBin.mimeType || 'image/jpeg'};base64,${sketchBin.data}`;\n\nreturn [{ json: {\n  valid:          true,\n  jobId,\n  fullPrompt:     parts.join('. '),\n  negativePrompt,\n  roomUri,\n  sketchUri,\n  roomFieldName,\n  sketchFieldName,\n  style,\n  dimensionsRaw:  body.dimensions || '{}',\n  materialsRaw:   body.materials  || '{}',\n} }];"
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Normalize & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "aa000002-0000-0000-0000-000000000002",
      "name": "IF: Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: null, status: 'error', outputUrl: null, error: $json.error }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "aa000003-0000-0000-0000-000000000003",
      "name": "Respond — 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ id: $json.jobId, status: 'processing', full_prompt: $json.fullPrompt, style: $json.style, dimensions: $json.dimensionsRaw, materials: $json.materialsRaw }) }}"
      },
      "id": "aa000004-0000-0000-0000-000000000004",
      "name": "Create Job in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -120]
    },
    {
      "parameters": {
        "jsCode": "// Supabase POST response overwrites $json — restore data from Normalize & Validate\nconst prep = $('Normalize & Validate').first().json;\n\nreturn [{ json: {\n  jobId:          prep.jobId,\n  fullPrompt:     prep.fullPrompt,\n  negativePrompt: prep.negativePrompt,\n  roomUri:        prep.roomUri,\n  sketchUri:      prep.sketchUri,\n  roomFieldName:  prep.roomFieldName,\n  sketchFieldName: prep.sketchFieldName,\n} }];"
      },
      "id": "aa000005-0000-0000-0000-000000000005",
      "name": "Restore Prep Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/adirik/interior-design/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"input\": {\n    \"image\": \"{{ $json.roomUri }}\",\n    \"prompt\": \"{{ $json.fullPrompt }}\",\n    \"negative_prompt\": \"{{ $json.negativePrompt }}\",\n    \"prompt_strength\": 0.8,\n    \"num_inference_steps\": 30,\n    \"guidance_scale\": 7.5\n  }\n}",
        "options": {}
      },
      "id": "aa000006-0000-0000-0000-000000000006",
      "name": "Start Replicate Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -120]
    },
    {
      "parameters": {
        "jsCode": "const item       = $input.first();\nconst prediction = item.json;\nconst jobId      = $('Normalize & Validate').first().json.jobId;\n\nif (!prediction || !prediction.id) {\n  throw new Error(`Replicate did not return a prediction ID. Response: ${JSON.stringify(prediction)}`);\n}\n\nreturn [{ json: {\n  jobId,\n  replicateId:     prediction.id,\n  replicateStatus: prediction.status,\n  outputUrl:       Array.isArray(prediction.output) ? prediction.output[0] : (prediction.output ?? null),\n  replicateError:  prediction.error ?? null,\n} }];"
      },
      "id": "aa000007-0000-0000-0000-000000000007",
      "name": "Parse Replicate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/render_jobs?id=eq.{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ replicate_id: $json.replicateId, status: 'processing' }) }}"
      },
      "id": "aa000008-0000-0000-0000-000000000008",
      "name": "Save Replicate ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $('Parse Replicate Response').first().json.jobId, status: 'processing', outputUrl: null, error: null, pollUrl: $env.N8N_BASE_URL + '/webhook/bpcuisines-render/status?id=' + $('Parse Replicate Response').first().json.jobId }) }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "aa000009-0000-0000-0000-000000000009",
      "name": "Respond — Processing 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, -120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Normalize & Validate", "type": "main", "index": 0 } ]]
    },
    "Normalize & Validate": {
      "main": [[ { "node": "IF: Valid?", "type": "main", "index": 0 } ]]
    },
    "IF: Valid?": {
      "main": [
        [ { "node": "Create Job in Supabase",   "type": "main", "index": 0 } ],
        [ { "node": "Respond — 400 Bad Request", "type": "main", "index": 0 } ]
      ]
    },
    "Create Job in Supabase": {
      "main": [[ { "node": "Restore Prep Data", "type": "main", "index": 0 } ]]
    },
    "Restore Prep Data": {
      "main": [[ { "node": "Start Replicate Prediction", "type": "main", "index": 0 } ]]
    },
    "Start Replicate Prediction": {
      "main": [[ { "node": "Parse Replicate Response", "type": "main", "index": 0 } ]]
    },
    "Parse Replicate Response": {
      "main": [[ { "node": "Save Replicate ID", "type": "main", "index": 0 } ]]
    },
    "Save Replicate ID": {
      "main": [[ { "node": "Respond — Processing 202", "type": "main", "index": 0 } ]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "instanceId": "bp-cuisine"
  },
  "tags": []
}
